body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilos do header */
header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-radius: 0 0 10px 10px;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

/* Estilos das notas */
.nota {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.nota::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    width: 4px;
    height: 100%;
    background-color: #4CAF50;
    border-radius: 4px;
}

.titulo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.conteudo {
    font-size: 16px;
}

.botoes {
   display: flex;
}

.botao {
    margin-right: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.botao-editar {
    background-color: #007bff;
    color: #fff;
}

.botao-excluir {
    background-color: #dc3545;
    color: #fff;
}

.botao-adicionar {
    background-color: #28a745;
    color: #fff;
}

/* Estilos do modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.fechar-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal-input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}